*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */


section {
    height: 89vh;
    scroll-snap-align: start;
}

.overall {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 89vh;
}

.project {
    background-color: #6d995b;
}

.contact {
    height: 35vh;
    top: 800px;
    color: black;
    background-color: #bce686;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

body {
    /* background: white;   */
    color:rgba(253, 252, 252, 0.89);
    background-position: center;
    font-family: "Jost", monospace;
    min-height: 100vh;
    background-size: cover;
}

.titlepage {
    font-size: 2.5rem;
    min-height: 67vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: #250c02;
    position: absolute;
    left: 60%;
}

.head {
    left: 20%;
}

.intro {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2rem;
    min-height: 35vh;
    width: 85vh;
    left: 60%;
    color: #250c02;
    position: absolute;
    -webkit-transform: translate(+50%,+50%);
    transform: translate(0%,+130%);
    left: 50%;
}

.paragraph {
    font-family: 'Noto Sans', sans-serif;
    position: relative;
}

nav{
    height: 11vh;
    position: sticky;
    top: 0;
    z-index: 12;
}

.nav-links {
    display: flex; /*horizontal*/
    list-style: none; /*removing the dots for the unordered lists*/
    width: 50%;
    height: 100%;
    justify-content: space-around; /*evenly distribute horizontally*/
    align-items: center; /*evemly distribute vertically*/
    margin-left: auto; /*align to left*/
    margin-right: auto;
}

.nav-links li a {
    color:rgb(37, 37, 37);
    text-decoration: none;
}

.nav-links li a:hover {
    color:rgb(88, 88, 88);
}

.container {
    position: relative;
}

.back-block {
    background-color: #e6a386;
    height: 89vh;
    width: 40%;
    position: absolute;
    z-index: 2;
}

.top-block {
    background-color:#EDC7B7;
    position: absolute;
    z-index: 10;
    height: 52vh;
    width: 40vh;
    left: 27%;
    top: 150px;
    box-shadow: 5px 8px #d3cccf;
}

#yimengphoto {
    width: 60%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 10%;
}

.name, .dash, .student {
    font-size: 130%;
    position: relative;
    display: flex;
    top: 10%;
    justify-content: center;
    color: #462011;
}

.name {
    font-size: 2rem;
}
.dash {
    color: #7a7a7a;
}

span {
    display: flex; /*horizontal*/
    list-style: none; /*removing the dots for the unordered lists*/
    width: 40%;
    height: 40%;
    justify-content: space-around; /*evenly distribute horizontally*/
    align-items: center; /*evemly distribute vertically*/
    margin-left: auto; /*align to left*/
    margin-right: auto;
    color: #91604c;
    font-size: 1.3rem;  
}

i {
    color: #91604c;
}

i:not(#folder):hover {
    color: cadetblue;
}

.copyright, .quote {
    font-family: 'Noto Sans', sans-serif;
    width: auto;
    color: #613b2c;
}

.copyright {
    position: relative;
    top: 30px;
}

.col {
    display: grid;
    height: 90vh;
    justify-content: center;
    align-items: center;
    grid-template-columns: 330px 330px 330px;
    grid-template-rows: 460px 220px;
}

.card {
    width: 300px;
    height: 320px;
    display: inline-block;
    border-radius: 3px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-color: #e7bba8;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card:hover{
    transform: translateY(-10px);
}

.project-title {
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
    font-size: 1.8rem;
    text-shadow: 0 0 20px #999;
}

.pdescription {
    font-family: 'Noto Sans', sans-serif;
    text-shadow: 0 0 15px #999;
    font-size: 1rem;
}

#folder{
    font-size: 250%;
    position: relative;
    top: 20%;
}

#link, #github {
    font-size: 180%;
    position: relative;
    left: 70%;
}

#github {
    left: 40% !important;
}

#link:hover {
    color: #318311 !important;
}

.pdescription, .project-title {
    position: relative;
    top: 20%;
}

.technology {
    font-size: 90%;
    position: relative;
    top: 28%;
}

@media screen and (max-width:1500px) {
    .titlepage {
        font-size: 2rem;
        min-height: 70vh;
        width: 50%;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .intro {
        font-size: 1.1rem;
        min-height: 35vh;
        width: 30%;
        left: 68%;
        text-align: center;
    }
}

@media screen and (max-width: 920px){
    .line {
        width: 30px;
        height: 3px;
        background: black;
        margin: 5px;
    }

    nav {
        position: relative;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 3%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .nav-links {
        position: fixed;
        background: rgb(205, 226, 170);
        height: 95vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-in;
        pointer-events: none;
        z-index:1;
    }
    .nav-links.open{
        clip-path: circle(1200px at 90% -10%);
        -webkit-cli-path: circle(1200px at 90% -10%);
        pointer-events: all;
    }

    head {
        font-size: 2.5rem;
    }

    .titlepage, .intro {
        display: none;
    }

    .student {
        font-size: 120%;
    }

}

@media screen and (max-width:450px) {
    .top-block {
        width: 65vw;
        left: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .student {
        width: 75%;
        height: 50vh;
    }
}